version: '3.8'

services:
  web:
    image: php:8.3-apache
    container_name: php_apache
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
    restart: unless-stopped

  cron_service:
    build: .
    container_name: cron_lab03